DISCORD_BOT_TOKEN=<Set me>
TWITCH_CLIENT_ID=<Set me>
TWITCH_OAUTH_TOKEN=<Set me>
DISCORD_BOT_MASTER_USERID=<Set me>
TWITCH_CHECK_INTERVAL_MS=60000
TEST_MODE=false

DISCORD_ANNOUNCE_CHANNEL=<Set me>
DISCORD_PREFIX=!
TWITCH_USE_BOXART=true